.flex-container{
  display: flex;
  text-align: center;
  flex-wrap: wrap;
  flex-direction: column;
}

.flex-box{
  padding: 10px;
}
.cuisinInput,.submit, .textIn{
  width: 100px;
  padding: 10px 5px;
  margin: 20px 5px;
  border-radius: 5px;

}

.ingredientPara{
  text-align: justify;
  padding: 10px 0px;
  margin: 0px 150px;
}

.label{
  padding: 5px;
}

.cuisinInput:hover, .textIn:hover, .submit:hover{
  color: white;
  background-color:#002ead;
  transition: 0.7s; 
}

.wall{
  width: 400px;
}

@media  screen and (max-width: 700px) {
  .wall{
    width: 300px;
  }
  .ingredientPara{
    margin:0;
  }
}


